modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Android Healthcare App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "android-app"

[[workflows.workflow]]
name = "Android Healthcare App"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew :app:installDebug"
waitForPort = 5000

[[workflows.workflow]]
name = "android-app"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew installDebug && adb shell am start -n com.healthcare.records/.MainActivity"

[deployment]
run = ["sh", "-c", "./gradlew :app:installDebug"]
